%html
  %head
    %title IR Dashboard v0.1
  %link{:rel => "stylesheet", :href => "/stylesheet.css", :type => "text/css", :media => "all"}

  %body
  #main/
  %h2 The last movie I saw was: #{@l.title}
