%html
  %head
    %title IR Dashboard v0.1
  %link{:rel => "stylesheet", :href => "/stylesheet.css", :type => "text/css", :media => "all"}

  %body
  #main/
  %h2 The last movie I saw was: #{@l.title}
  %img{:src => "#{@poster}", :class => "poster"}
  %h2 Last tweet: #{@last_tweet.text} - <a href="#{@last_tweet.urls[0]["url"]}">link</a>