%html
  %head
    %title Not found
  %link{:rel => "stylesheet", :href => "/stylesheet.css", :type => "text/css", :media => "all"}

  %body
    %h2 User not found

    %p
      Sorry, we didn't find that user. Try another username.

